<?php
/**
 * Created by PhpStorm.
 * User: walmirlsj
 * Date: 05/07/15
 * Time: 22:42
 */

if (count($this->messages["Danger"]) or count($this->messages["Warning"]) or count($this->messages["Success"]) or count($this->messages["Messages"])) {
    ?>
    <div class="col-lg-2" Style="position: fixed; top:50px; right: 0; z-index: 500;">
        <?php $id = 0; ?>
        <?php foreach ($this->messages as $alert => $type) { ?>
            <?php foreach ($type as $pox => $msg) { ?>
                <div id="<?php echo 'alert_id' . $id; ?>"
                     class="alert alert-block <?php echo strtolower('alert-' . $alert) ?>">
                    <a class="close" data-dismiss="alert" href="#">x</a>

                    <p><?php echo $this->translate($msg) ?></p>
                </div>

                <script>
                    setTimeout(function () {
                        $('<?php echo "#alert_id".$id; ?>').fadeOut(1500);
                    }, 3000);
                </script>
                <?php $id++; ?>
            <?php } ?>
        <?php } ?>
    </div>


<?php }//else: ?>

<div class="row-fluid">
    <div class="panel panel-primary panel-crud-dark">
        <div class="panel-heading clearfix">
            <span class="panel-title pull-left input-sm">
                <b><i class="glyphicon glyphicon-list"></i> <?php echo $this->translate('Categorias') ?></b>
            </span>

            <div class="row-fluid">
                <div class="col-lg-5 pull-right clearfix" style="padding-left:0;">

                    <form id='frmSearch' class="no-padding" role="form" method="get"
                          action="<?php echo $this->url('catalogo/default',
                              array('controller' => 'categoria', 'action' => 'index')); ?>">

                        <a data-toggle="modal" href="<?php echo $this->url('catalogo/default',
                            array('controller' => 'categoria', 'action' => 'inserir')); //#ModalNew ?>"
                           class="btn btn-primary pull-left action"
                           title="<?php echo $this->translate('Novo') ?>"
                           style="margin-right: 5px;">
                            <i class="glyphicon glyphicon-plus-sign"></i> <?php echo $this->translate('Novo') ?>
                        </a>

                        <div class="input-group">

                            <input id="search" name="search" required="true" type="date"
                                   class="form-control" <?php //echo ($frm_search['search']!=null)?'value="'.$frm_search['search'].'"':'';?>>
                            <span class="input-group-btn">
                                <select id="type" name="type" required="true" class='form-control' style="width: 100px;">
                                    <option value="1"
                                        <?php echo (1) ? 'selected' : ''; ?>>Data
                                    </option>
                                    <option value="2"
                                        <?php echo (1) ? 'selected' : ''; ?>>Profissional
                                    </option>
                                    <option value="3"
                                        <?php echo (1) ? 'selected' : ''; ?>>Teste
                                    </option>
                                    <option value="4"
                                        <?php echo (1) ? 'selected' : ''; ?>>Duração
                                    </option>
                                    <option value="5"
                                        <?php echo (1) ? 'selected' : ''; ?>>Valor
                                    </option>
                                </select>
                            </span>
                                <span class="input-group-btn">
                                    <button id="btnSearch" class="btn btn-info form-control" type="submit"><i
                                            class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="panel-body no-padding clearfix" style="margin: 0;padding: 0;">
            <div class="table-responsive">
                <table class="table table-bordered" style="margin: 0;">
                    <thead>
                    <tr>
                        <th class="col-lg-1">#</th>
                        <th class="col-lg-4">Descricão</th>
                        <th class="col-lg-4">Secção</th>
                        <th class="col-lg-1">Adicionado</th>
                        <th class="col-lg-1">Atualizado</th>
                        <th class="col-lg-1">Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php $i = 0; ?>
                    <?php foreach ($this->data as $entity): ?>
                        <?php $i++; ?>
                        <tr>
                            <td>
                                <?php echo $entity->getId(); ?>
                            </td>
                            <td>
                                <?php echo $entity->getDescricao(); ?>
                            </td>
                            <td>
                                <?php echo $entity->getSeccao(); ?>
                            </td>

                            <td>
                                <?php echo ($entity->getCreatedAt()) ? $entity->getCreatedAt()->format('d/m/Y') : "--/--/--"; ?>
                            </td>

                            <td>
                                <?php echo ($entity->getUpdatedAt()) ? $entity->getUpdatedAt()->format('d/m/Y') : "--/--/--"; ?>
                            </td>

                            <td style="padding: 0 !important; text-align: center;">
                                <!--                                <div class="btn-group btn-group-sm col-lg-12 btn-sm btn-link" style="padding: 0 !important;">-->
                                <!--                                    <button type="button"-->
                                <!--                                            class="btn btn-primary dropdown-toggle col-lg-12"-->
                                <!--                                            data-toggle="dropdown"-->
                                <!--                                            id="dropdownMenu2"-->
                                <!--                                            aria-haspopup="true"-->
                                <!--                                            aria-expanded="false">-->
                                <!--                                        Ação </span>-->
                                <!--                                    </button>-->
                                <!--                                    <ul class="dropdown-menu dropdown-menu-right" style="padding: 0 !important;"  aria-labelledby="dropdownMenu2">-->
                                <a class="btn btn-sm btn-primary col-lg-6 action"

                                   href="<?php echo $this->url('catalogo/default',
                                       array('controller' => 'categoria', 'action' => 'editar', 'refid' => $entity->getId())); ?>">
                                    <!--                                            <li class="btn btn-primary col-lg-12">-->
                                    <i class="glyphicon glyphicon-pencil text-primary"
                                       style="font-weight: bold;color: white;">

                                    </i>
                                    <!--                                            Editar-->
                                    <!--                                            </li>-->
                                </a>

                                <!--                                        <li role="separator" class="divider" style="  margin: 0 !important;"></li>-->
                                <a class="btn btn-sm btn-danger col-xs-6" data-toggle="confirm"
                                   href="<?php echo $this->url('catalogo/default',
                                       array('controller' => 'categoria', 'action' => 'remover', 'refid' => $entity->getId())); ?>">
                                    <!--                                            <li class="btn btn-danger col-lg-12">-->
                                    <i
                                        class="glyphicon glyphicon-trash text-danger"
                                        style="font-weight: bold;color: white;"></i>
                                    <!--                                            Deletar-->

                                    <!--                                            </li>-->
                                </a>
                                <!--                                    </ul>-->
                                <!--                                </div>-->
                            </td>
                        </tr>
                    <?php endforeach; ?>

                    <?php for (; $i < 10; $i++) { ?>
                        <tr class="text-center">
                            <td style="padding: 15px !important;"></td>
                            <td style="padding: 15px !important;"></td>
                            <td style="padding: 15px !important;"></td>
                            <td style="padding: 15px !important;"></td>
                            <td style="padding: 15px !important;"></td>
                            <td style="padding: 15px !important;"></td>
                        </tr>
                    <?php }; ?>
                    </tbody>
                </table>
            </div>
        </div>

        <script>
            $("[data-toggle=confirm]").click(function () {
                $(this).click.url = $(this).attr('href');
            }).confirm({
                text: "Deseja realmente deletar?",
                title: "Confirmar",
                confirm: function (button) {
                    $(location).attr('href', $(this).click.url);
//                    $(this).trigger('click');
                },
                cancel: function (button) {
                    e.preventDefault();
                },
                confirmButton: "Sim",
                cancelButton: "Não"
            });
            //                $('.panel-action').click();
            //                $("document").ready(function(){
            //                    $("..panel-action-form").submit(function(){
            //                        var data = {
            //                            "action": "test"
            //                        };
            //                        data = $(this).serialize() + "&" + $.param(data);
            //                        $.ajax({
            //                            type: "POST",
            //                            dataType: "json",
            //                            url: "response.php", //Relative or absolute path to response.php file
            //                            data: data,
            //                            success: function(data) {
            //                                $(".the-return").html(
            //                                    "Favorite beverage: " + data["favorite_beverage"] + "<br />Favorite restaurant: " + data["favorite_restaurant"] + "<br />Gender: " + data["gender"] + "<br />JSON: " + data["json"]
            //                                );
            //
            //                                alert("Form submitted successfully.\nReturned json: " + data["json"]);
            //                            }
            //                        });
            //                        return false;
            //                    });
            //                });
        </script>

        <div class="panel-footer">
            <?php echo $this->paginationControl($this->data, 'Sliding', 'partials/paginator'); ?>
        </div>

    </div>
</div>
<?php echo $this->headScript()
    ->prependFile($this->basePath() . '/js/jquery.confirm.js');
?>

<div id="result"></div>
<script>


    //    $("document").ready(function () {
    //        $(function () {
    //            /* attach a submit handler to the form */
    //            $(".panel-action-form").submit(function (event) {
    //
    //                /* stop form from submitting normally */
    //                event.preventDefault();
    //                event.stopPropagation();
    //
    //                /*clear result div*/
    //                $("#result").html('');
    //
    //                /* get some values from elements on the page: */
    //                var val = $(this).serialize();
    //                //var url = $(this).action;
    //                /* Send the data using post and put the results in a div */
    //                $.ajax({
    //                    url: url,
    //                    type: "post",
    //                    data: val,
    //                    datatype: 'json',
    //                    success: function (data) {
    //                        $('#result').html(
    //                            '<div class="panel-info-log col-lg-2" Style="position: fixed; top:50px; right: 0; z-index: 500;">' +
    //                            '<div class="alert alert-block">' +
    //                            '<a class="close" data-dismiss="alert" href="#">x</a>' +
    //                            data.status + ':' + data.message +
    //                            '</div>' +
    //                            '</div>'
    //                        );
    //                        $("#result").addClass('msg_notice');
    //                        $("#result").fadeIn(1500);
    //                    },
    //                    error: function () {
    //                        $("#result").html('There was an error updating the settings');
    //                        $("#result").addClass('msg_error');
    //                        $("#result").fadeIn(1500);
    //                    }
    //                });
    //            });
    ////        })
    //    });
</script>