<?php
/**
 * Created by PhpStorm.
 * User: walmirlsj
 * Date: 11/07/15
 * Time: 16:21
 */
?>

<nav class="navbar navbar-inverse nav-pills nav-stacked" role="navigation" style="
    background: #1B1B1B !important;margin-bottom: 0 !important;
">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo $this->url('home') ?>">
                <img src="<?php echo $this->basePath('img/logo-tavel.png') ?>"
                     alt="Zend Framework 2"/><?php echo $this->translate('') ?>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-admin">
                <li class=""><a href="<?php echo $this->url('home') ?>"><i
                            class="glyphicon glyphicon-home"></i> <?php echo $this->translate('Index') ?></a></li>
                <!--                <li class="">-->
                <!--                    <a href="--><?php //echo $this->url('catalogo') ?><!--">-->
                <?php //echo $this->translate('catalogo') ?><!--</a>-->
                <!--                </li>-->
                <!--                <li class="">-->
                <!--                    <a href="-->
                <?php //echo $this->url('catalogo/list', array('controller' => 'listar', 'action' => 'listar', 'categoria' => 'veiculo', 'refid' => '1')) ?><!--">-->
                <?php //echo $this->translate('catalogo 1') ?><!--</a>-->
                <!--                </li>-->
                <!--                <li class="">-->
                <!--                    <a href="-->
                <?php //echo $this->url('catalogo/list', array('controller' => 'listar', 'action' => 'detalhe', 'categoria' => 'veiculo', 'refid' => '1')) ?><!--">-->
                <?php //echo $this->translate('catalogo 1') ?><!--</a>-->
                <!--                </li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true"><i
                            class="glyphicon glyphicon-list-alt"></i> Veículos <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="<?php
                            echo $this->url('catalogo/default',
                                array(
                                    'controller' => 'veiculo',
                                    'action' => 'inserir',
//                                    'categoria' => 'veiculo',
//                                    'refid' => '1'
                                )
                            ); ?>"><i
                                    class="glyphicon glyphicon-plus"></i> Adicionar</a></li>
                        <li><a href="<?php
                            echo $this->url('catalogo/default',
                                array(
                                    'controller' => 'veiculo',
                                    'action' => 'editar',
//                                    'categoria' => 'veiculo',
//                                    'refid' => '1'
                                )
                            ); ?>"><i
                                    class="glyphicon glyphicon-pencil"></i> Editar</a></li>
                        <li><a href="<?php
                            echo $this->url('catalogo/default',
                                array(
                                    'controller' => 'veiculo',
//                                    'action' => 'index',
//                                    'categoria' => 'veiculo',
//                                    'refid' => '1'
                                )
                            ); ?>"><i
                                    class="glyphicon glyphicon-list-alt"></i> Listar</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i
                                    class="glyphicon glyphicon-search"></i> Procurar</a></li>
                        <li><a href="<?php
                            echo $this->url('catalogo'); ?>"><i
                                    class="glyphicon glyphicon-list-alt"></i> Catalogo</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true"><i
                            class="glyphicon glyphicon-list-alt"></i> Clientes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="<?php
                            echo $this->url('cliente/default',
                                array(
                                    'controller' => 'index',
                                    'action' => 'inserir',
                                )
                            ); ?>"><i
                                    class="glyphicon glyphicon-plus"></i> Adicionar</a></li>
                        <li><a href="<?php
                            echo $this->url('cliente/default',
                                array(
                                    'controller' => 'manager',
                                    'action' => 'editar',
                                    'refid' => '1'
                                )
                            ); ?>"><i
                                    class="glyphicon glyphicon-pencil"></i> Editar</a></li>
                        <li><a href="<?php
                            echo $this->url('cliente/default',
                                array(
                                    'controller' => 'manager',
//                                    'action' => 'index',
//                                    'categoria' => 'veiculo',
//                                    'refid' => '1'
                                )
                            ); ?>"><i
                                    class="glyphicon glyphicon-list-alt"></i> Listar</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i
                                    class="glyphicon glyphicon-search"></i> Procurar</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true"><i
                            class="glyphicon glyphicon-list-alt"></i> Marcas <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="<?php
                            echo $this->url('catalogo/default',
                                array(
                                    'controller' => 'marca',
                                    'action' => 'inserir',
                                )
                            ); ?>"><i
                                    class="glyphicon glyphicon-plus"></i> Adicionar</a></li>
                        <li><a href="<?php
                            echo $this->url('catalogo/default',
                                array(
                                    'controller' => 'marca',
                                    'action' => 'editar',
                                    'refid' => '1'
                                )
                            ); ?>"><i
                                    class="glyphicon glyphicon-pencil"></i> Editar</a></li>
                        <li><a href="<?php
                            echo $this->url('catalogo/default',
                                array(
                                    'controller' => 'marca',
//                                    'action' => 'index',
                                )
                            ); ?>"><i
                                    class="glyphicon glyphicon-list-alt"></i> Listar</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i
                                    class="glyphicon glyphicon-search"></i> Procurar</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true"><i
                            class="glyphicon glyphicon-list-alt"></i> Categorias <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="<?php
                            echo $this->url('catalogo/default',
                                array(
                                    'controller' => 'categoria',
                                    'action' => 'inserir',
                                )
                            ); ?>"><i
                                    class="glyphicon glyphicon-plus"></i> Adicionar</a></li>
                        <li><a href="<?php
                            echo $this->url('catalogo/default',
                                array(
                                    'controller' => 'categoria',
                                    'action' => 'editar',
                                    'refid' => '1'
                                )
                            ); ?>"><i
                                    class="glyphicon glyphicon-pencil"></i> Editar</a></li>
                        <li><a href="<?php
                            echo $this->url('catalogo/default',
                                array(
                                    'controller' => 'categoria',
//                                    'action' => 'index',
//                                    'categoria' => 'veiculo',
//                                    'refid' => '1'
                                )
                            ); ?>"><i
                                    class="glyphicon glyphicon-list-alt"></i> Listar</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i
                                    class="glyphicon glyphicon-search"></i> Procurars</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Usuarios"><i
                            class="glyphicon glyphicon-wrench"></i> Gerenciar<b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="<?php echo $this->url('user/default', array('controller' => 'manager', 'action' => 'index')); ?>"><i
                                    class="glyphicon glyphicon-list-alt"></i> Usuários</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Acl"><i
                            class="glyphicon glyphicon-eye-open"></i> Acl <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="<?php echo $this->url('acl/default', array('controller' => 'role')) ?>"><i
                                    class="glyphicon glyphicon-list-alt"></i> Roles</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="<?php echo $this->url('acl/default', array('controller' => 'resource')) ?>"><i
                                    class="glyphicon glyphicon-list-alt"></i> Resources</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="<?php echo $this->url('acl/default', array('controller' => 'privilege')) ?>"><i
                                    class="glyphicon glyphicon-list-alt"></i> Privilege</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav  navbar-admin">
                <?php if ($this->UserIdentity()) { ?>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" style="padding-top: 10px; padding-bottom: 10px;">
                            <img src="/img/default.jpg" class="img-rounded" width="28px" height="28px">
                            <small><b><?php echo $this->UserIdentity()->getLogin(); ?></b></small>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="<?php echo $this->url('cliente/default', array('controller' => 'manager', 'action' => 'detalhe')) ?>"><i class="glyphicon glyphicon-user"></i> Meus Dados</a></li>
                            <li class="divider"></li>
                            <li><a href="<?php echo $this->url('user-logout') ?>"><i
                                        class="glyphicon glyphicon-log-out"></i> Sair</a>
                            </li>
                        </ul>
                    </li>
                <?php } else { ?>
                    <li class="dropdown">
                        <a href="<?php echo $this->url('user-auth') ?>"><i
                                class="glyphicon glyphicon-log-in"></i> Login</a>
                    </li>
                <?php } ?>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>