<?php
/**
 * Created by PhpStorm.
 * User: walmirlsj
 * Date: 11/07/15
 * Time: 16:21
 */
?>

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="
    /*background: #555555 !important;*/margin-bottom: 0 !important;
">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo $this->url('home') ?>">
                <img src="<?php echo $this->basePath('img/logo-tavel.png') ?>"
                     alt="Zend Framework 2"/><?php echo $this->translate('') ?>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="<?php echo $this->url('home') ?>"><i
                            class="glyphicon glyphicon-home"></i> <?php echo $this->translate('Inicio') ?></a>
                </li>
                <li>
                    <a href="<?php
                    echo $this->url('catalogo/default',
                        array(
                            'controller' => 'index',
                            'action' => 'index',
//                                    'categoria' => 'veiculo',
//                                    'refid' => '1'
                        )
                    ); ?>" role="button" aria-haspopup="true"><i
                            class="glyphicon glyphicon-list-alt"></i> Veiculos</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <?php if ($this->UserIdentity()) {
//                    echo '<pre>' . var_export($this->UserIdentity(), true) . '</pre>';

                    ?>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" style="padding-top: 10px; padding-bottom: 10px;">
                            <img src="/img/default.jpg" class="img-rounded" width="28px" height="28px">
                            <small><b><?php echo $this->UserIdentity()->getLogin(); ?></b></small>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="glyphicon glyphicon-book"></i> Meus Dados</a></li>
                            <li class="divider"></li>
                            <li><a href="<?php echo $this->url('user-logout') ?>"><i
                                        class="glyphicon glyphicon-log-out"></i> Sair</a>
                            </li>
                        </ul>
                    </li>
                <?php } else { ?>
                    <li class="dropdown">
                        <a id="btnLogin" role="button" class="btn-link dropdown-toggle" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true"><i
                                class="glyphicon glyphicon-off"></i> <b>Login</b></a>
                        <ul class="dropdown-menu" aria-labelledby="btnLogin"
                            style="height: 100px; min-width: 352px;margin: 0;padding: 0;">
                            <li><!-- empty div to save dialog temporary -->
                                <div id="frmLogin"
                                     style="/*height: 100px; width: 300px; position:absolute; top:50px; right:0;*/z-index: 999;"></div>
                            </li>
                        </ul>
                    </li>
                <?php } ?>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
