<div class="row">
<div class="jumbotron container-fluid">
    <h1><?php echo sprintf($this->translate('Bem Vindo ao %sCatalago Night%s'), '<span class="zf-blue">', '</span>') ?></h1>

    <p>
        <?php echo sprintf($this->translate('Aqui você pode compra o carro dos seus sonhos, e por um preço imbativel,
         vendemos novos e semi novos, basta apenas você sabe o modelo que deseja!'),
            '<a href="/catalogo" target="_blank">', '</a>', \Zend\Version\Version::VERSION) ?>
    </p>

        <p><a class="btn btn-primary btn-lg" href="/catalogo"
          target="_self"><?php echo $this->translate('Conheça nosso catalogo') ?> &raquo;</a></p>
</div>
</div>

<div class="" style="margin-bottom: 30px;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">

                <img style="height: 500px;width: 100%;" src="<?php echo $this->basePath("/img/cars/c1.jpg"); ?>"
                     alt="First slide">

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Conheça as vantagens de usar o SUT.</h1>

                        <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous"
                            Glyphicon buttons on the left and right might not load/display properly due to web browser
                            security rules.</p>

                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img style="height: 500px;width: 100%;" src="<?php echo $this->basePath("/img/cars/c4.jpg"); ?>"
                     alt="Second slide">

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>

                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img style="height: 500px;width: 100%;" src="<?php echo $this->basePath("/img/cars/c5.jpg"); ?>"
                     alt="Third slide">

                <div class="container">
                    <div class="carousel-caption">
                        <h1>One more for good measure.</h1>

                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span
                class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span
                class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>

<!-- jumbotron -->

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Eventos') ?></h3>
            </div>
            <div class="panel-body" style="padding-left: 0; padding-right: 0;padding-top: 0;">
                <div class="">
                    <div style="background-color: white;">
                        <div class="" style="">
                            <div class="title" style="background-color: #f5f5f5 ">
                                <span style=" padding-left: 10px; padding-right: 10px;"> date: 10-04-1994 14:14</span>
                            </div>
                            <div class="" style=" padding-left: 10px; padding-right: 10px;">
                                <img class="" style="float:left;height: 60px;width: 60px; margin-right: 5px;"
                                     src="<?php echo $this->basePath("/img/cars/c1.jpg"); ?>">
                        <span class="" style="">Noticias Lol lol lol lol lol lol lol
                            lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol</span>
                            </div>
                            <div class="clearfix">
                                <button class="pull-right clearfix"> Ver+</button>
                            </div>
                        </div>
                        <hr style="padding: 0; margin: 0;color:#000;">
                    </div>
                    <div style="background-color: white;">
                        <div class="" style="">
                            <div class="title" style="background-color: #f5f5f5 ">
                                <span style=" padding-left: 10px; padding-right: 10px;"> date: 10-04-1994 14:14</span>
                            </div>
                            <div class="" style=" padding-left: 10px; padding-right: 10px;">
                                <img class="" style="float:left;height: 60px;width: 60px; margin-right: 5px;"
                                     src="<?php echo $this->basePath("/img/cars/c1.jpg"); ?>">
                        <span class="" style="">Noticias Lol lol lol lol lol lol lol
                            lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol</span>
                            </div>
                            <div class="clearfix">
                                <button class="pull-right clearfix"> Ver+</button>
                            </div>
                        </div>
                        <hr style="padding: 0; margin: 0;color:#000;">
                    </div>
                    <div style="background-color: white;">
                        <div class="" style="">
                            <div class="title" style="background-color: #f5f5f5 ">
                                <span style=" padding-left: 10px; padding-right: 10px;"> date: 10-04-1994 14:14</span>
                            </div>
                            <div class="" style=" padding-left: 10px; padding-right: 10px;">
                                <img class="" style="float:left;height: 60px;width: 60px; margin-right: 5px;"
                                     src="<?php echo $this->basePath("/img/cars/c1.jpg"); ?>">
                        <span class="" style="">Noticias Lol lol lol lol lol lol lol
                            lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol</span>
                            </div>
                            <div class="clearfix">
                                <button class="pull-right clearfix"> Ver+</button>
                            </div>
                        </div>
                        <hr style="padding: 0; margin: 0;color:#000;">
                    </div>
                    <div style="background-color: white;">
                        <div class="" style="">
                            <div class="title" style="background-color: #f5f5f5 ">
                                <span style=" padding-left: 10px; padding-right: 10px;"> date: 10-04-1994 14:14</span>
                            </div>
                            <div class="" style=" padding-left: 10px; padding-right: 10px;">
                                <img class="" style="float:left;height: 60px;width: 60px; margin-right: 5px;"
                                     src="<?php echo $this->basePath("/img/cars/c1.jpg"); ?>">
                        <span class="" style="">Noticias Lol lol lol lol lol lol lol
                            lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol</span>
                            </div>
                            <div class="clearfix">
                                <button class="pull-right clearfix"> Ver+</button>
                            </div>
                        </div>
                        <hr style="padding: 0; margin: 0;color:#000;">
                    </div>


                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Noticias') ?></h3>
            </div>
            <div class="panel-body" style="padding-left: 0; padding-right: 0;padding-top: 0;">
                <div class="">
                    <div style="background-color: white;">
                        <div class="" style="">
                            <div class="title" style="background-color: #f5f5f5 ">
                                <span style=" padding-left: 10px; padding-right: 10px;"> date: 10-04-1994 14:14</span>
                            </div>
                            <div class="" style=" padding-left: 10px; padding-right: 10px;">
                                <img class="" style="float:left;height: 60px;width: 60px; margin-right: 5px;"
                                     src="<?php echo $this->basePath("/img/cars/c1.jpg"); ?>">
                        <span class="" style="">Noticias Lol lol lol lol lol lol lol
                            lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol</span>
                            </div>
                            <div class="clearfix">
                                <button class="pull-right clearfix"> Ver+</button>
                            </div>
                        </div>
                        <hr style="padding: 0; margin: 0;color:#000;">
                    </div>
                    <div style="background-color: white;">
                        <div class="" style="">
                            <div class="title" style="background-color: #f5f5f5 ">
                                <span style=" padding-left: 10px; padding-right: 10px;"> date: 10-04-1994 14:14</span>
                            </div>
                            <div class="" style=" padding-left: 10px; padding-right: 10px;">
                                <img class="" style="float:left;height: 60px;width: 60px; margin-right: 5px;"
                                     src="<?php echo $this->basePath("/img/cars/c1.jpg"); ?>">
                        <span class="" style="">Noticias Lol lol lol lol lol lol lol
                            lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol</span>
                            </div>
                            <div class="clearfix">
                                <button class="pull-right clearfix"> Ver+</button>
                            </div>
                        </div>
                        <hr style="padding: 0; margin: 0;color:#000;">
                    </div>
                    <div style="background-color: white;">
                        <div class="" style="">
                            <div class="title" style="background-color: #f5f5f5 ">
                                <span style=" padding-left: 10px; padding-right: 10px;"> date: 10-04-1994 14:14</span>
                            </div>
                            <div class="" style=" padding-left: 10px; padding-right: 10px;">
                                <img class="" style="float:left;height: 60px;width: 60px; margin-right: 5px;"
                                     src="<?php echo $this->basePath("/img/cars/c1.jpg"); ?>">
                        <span class="" style="">Noticias Lol lol lol lol lol lol lol
                            lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol</span>
                            </div>
                            <div class="clearfix">
                                <button class="pull-right clearfix"> Ver+</button>
                            </div>
                        </div>
                        <hr style="padding: 0; margin: 0;color:#000;">
                    </div>
                    <div style="background-color: white;">
                        <div class="" style="">
                            <div class="title" style="background-color: #f5f5f5 ">
                                <span style=" padding-left: 10px; padding-right: 10px;"> date: 10-04-1994 14:14</span>
                            </div>
                            <div class="" style=" padding-left: 10px; padding-right: 10px;">
                                <img class="" style="float:left;height: 60px;width: 60px; margin-right: 5px;"
                                     src="<?php echo $this->basePath("/img/cars/c1.jpg"); ?>">
                        <span class="" style="">Noticias Lol lol lol lol lol lol lol
                            lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol</span>
                            </div>
                            <div class="clearfix">
                                <button class="pull-right clearfix"> Ver+</button>
                            </div>
                        </div>
                        <hr style="padding: 0; margin: 0;color:#000;">
                    </div>


                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Lançamentos') ?></h3>
            </div>
            <div class="panel-body" style="padding-left: 0; padding-right: 0;padding-top: 0;">
                <div class="">
                    <div style="background-color: white;">
                        <div class="" style="">
                            <div class="title" style="background-color: #f5f5f5 ">
                                <span style=" padding-left: 10px; padding-right: 10px;"> date: 10-04-1994 14:14</span>
                            </div>
                            <div class="" style=" padding-left: 10px; padding-right: 10px;">
                                <img class="" style="float:left;height: 60px;width: 60px; margin-right: 5px;"
                                     src="<?php echo $this->basePath("/img/cars/c1.jpg"); ?>">
                        <span class="" style="">Noticias Lol lol lol lol lol lol lol
                            lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol</span>
                            </div>
                            <div class="clearfix">
                                <button class="pull-right clearfix"> Ver+</button>
                            </div>
                        </div>
                        <hr style="padding: 0; margin: 0;color:#000;">
                    </div>
                    <div style="background-color: white;">
                        <div class="" style="">
                            <div class="title" style="background-color: #f5f5f5 ">
                                <span style=" padding-left: 10px; padding-right: 10px;"> date: 10-04-1994 14:14</span>
                            </div>
                            <div class="" style=" padding-left: 10px; padding-right: 10px;">
                                <img class="" style="float:left;height: 60px;width: 60px; margin-right: 5px;"
                                     src="<?php echo $this->basePath("/img/cars/c1.jpg"); ?>">
                        <span class="" style="">Noticias Lol lol lol lol lol lol lol
                            lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol</span>
                            </div>
                            <div class="clearfix">
                                <button class="pull-right clearfix"> Ver+</button>
                            </div>
                        </div>
                        <hr style="padding: 0; margin: 0;color:#000;">
                    </div>
                    <div style="background-color: white;">
                        <div class="" style="">
                            <div class="title" style="background-color: #f5f5f5 ">
                                <span style=" padding-left: 10px; padding-right: 10px;"> date: 10-04-1994 14:14</span>
                            </div>
                            <div class="" style=" padding-left: 10px; padding-right: 10px;">
                                <img class="" style="float:left;height: 60px;width: 60px; margin-right: 5px;"
                                     src="<?php echo $this->basePath("/img/cars/c1.jpg"); ?>">
                        <span class="" style="">Noticias Lol lol lol lol lol lol lol
                            lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol</span>
                            </div>
                            <div class="clearfix">
                                <button class="pull-right clearfix"> Ver+</button>
                            </div>
                        </div>
                        <hr style="padding: 0; margin: 0;color:#000;">
                    </div>
                    <div style="background-color: white;">
                        <div class="" style="">
                            <div class="title" style="background-color: #f5f5f5 ">
                                <span style=" padding-left: 10px; padding-right: 10px;"> date: 10-04-1994 14:14</span>
                            </div>
                            <div class="" style=" padding-left: 10px; padding-right: 10px;">
                                <img class="" style="float:left;height: 60px;width: 60px; margin-right: 5px;"
                                     src="<?php echo $this->basePath("/img/cars/c1.jpg"); ?>">
                        <span class="" style="">Noticias Lol lol lol lol lol lol lol
                            lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol lol</span>
                            </div>
                            <div class="clearfix">
                                <button class="pull-right clearfix"> Ver+</button>
                            </div>
                        </div>
                        <hr style="padding: 0; margin: 0;color:#000;">
                    </div>


                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
